<footer class="container">
  <div class="row">
    <div class="col-md-12 pt-3 pb-3 text-center">
      <ul class="list list-unstyled list-inline">
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Help</a></li>
      </ul>
      <p class="small">
        ChessMeters &copy; {{dateNow | date : 'y'}}
      </p>
    </div>
  </div>
</footer>
