$bg-color: #363945;
$bg-color-dark: #22232A;
$primary-text: #dddddd;
$primary-link-color: #00A170;
$secondary-link-color: #d7d7d7;
$bg-color: #363945;
$bg-color-light: #3E404A;
$primary-text: #dddddd;
$primary-link-color: #00A170;
$primary-link-color-dark: #006949;
$secondary-link-color: #d7d7d7;
$light-shadow: #575757;
$dark-shadow: #000000;
$text-danger: #a11e00;
