@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Gothic&display=swap');
@import 'colors';

body {
  background-color: $bg-color;
  color: $primary-text;
  font-family: 'Montserrat', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Nanum Gothic', sans-serif;
}

.dark-bg {
  background-color: $bg-color-dark;
}

.nav-item {
  a {
    color: $primary-link-color;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.00);

    &:hover {
      color: $secondary-link-color;
    }
  }

  &.link-active {
    a {
      color: $secondary-link-color;
    }
  }
}

.btn {

  &:focus, &.focus, &:visited {
    box-shadow: none !important;
  }
}

input, textarea {
  background-color: transparent !important;
  color: $primary-link-color !important;
  border-radius: 0;

  &:focus {
    border-color: $primary-link-color !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 161, 112, 0.25) !important;
  }

  &:-webkit-autofill, &:-internal-autofill-selected {
    background-color: transparent !important;
  }
}



.section-title {
  margin-bottom: 40px;

  .title {
    background-color: $primary-link-color;
    padding: 5px 20px;
    border-radius: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;

    &h6, &.h6 {
      font-size: 10px;
    }
  }

  .description {
    font-weight: 700;
    text-transform: capitalize;
  }
}

.faq-accordion {
  margin-bottom: 20px;
  border: none;
  border-radius: 0;
  background-color: transparent;

  .panel-heading {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $bg-color-light;
  }

  .panel-collapse {
    background-color: $bg-color-light;

    .card-body {
      border-radius: 0;
    }
  }

  .btn-link {
    color: $primary-text;
    text-decoration: none;
  }

  .panel-collapse {
    margin-top: 10px;
  }
}

.panel-open {
  .panel-heading {
    background: $primary-link-color;
    background: -webkit-linear-gradient(to right, $primary-link-color, $primary-link-color-dark);
    background: linear-gradient(to right, $primary-link-color, $primary-link-color-dark);
  }
}

.feauture-box {
    border: 1px solid $bg-color-light;
    padding:20px 40px 20px 20px;
    border-radius:10px;
    margin-bottom:20px;

    .icon {
        background-color:$primary-link-color;
        display:inline-block;
        border-radius:100%;
        width:50px;
        height:50px;
    }

    h3 {
        font-weight:900;
        font-size:20px;
    }

    p {
        font-family:12px;
    }
}

.pricing-item-container {
  background: $bg-color-dark;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 30px;
  transition: .3s;
  box-shadow: 0 3px 30px -3px rgba(0,0,0, 0.1);

  &:hover {
    transform: translate(0, -5px);
    border: 2px solid rgba(0, 161, 112, 0.80);
    box-shadow: 0 1rem 3rem rgba(1, 132, 92, 0.70) !important;
  }

  .pricing-item-header {
    border-bottom: 1px solid $bg-color-light;
    padding: 30px 0 50px 0;
    background: $primary-link-color;
    background: -webkit-linear-gradient(to right, $primary-link-color, $primary-link-color-dark);
    background: linear-gradient(to right, $primary-link-color, $primary-link-color-dark);
  }

  .pricing-item-body {
    padding-bottom: 20px;

    .icon-wrapper {
      padding: 20px;
      border: 1px solid $primary-link-color-dark;
      display: inline-block;
      position: relative;
      top: -2.5rem;
      background-color: $bg-color-dark;
      border-radius: 100%;
      height: 5rem;
      width: 5rem;
    }

    .price {
      position: relative;
      margin-top: -25px;
      margin-bottom: 10px;

      .currency {
        position: relative;
        top: -15px;
        margin-right: 5px;
      }

      .amount {
        font-size: 2rem;
        font-weight: 600;
        margin-right: 5px;
      }
    }

    .list {
      li {
        margin-bottom: 5px;
        font-size: 14px;

        &.exclude {
          color: $bg-color-light;
          text-decoration: line-through;
        }
      }
    }
  }

  .pricing-item-footer {
    padding-bottom: 20px;

    .btn {
      background-color: $primary-link-color;
      color: $primary-text;
      border-color: $primary-link-color;
      display: inline;
      border-radius: 30px;
      margin-bottom: 20px;

      &.btn-strong {
        font-weight: 900;
      }

      &.btn-lg {
        font-size: 20px;
      }

      &.btn-dark-hover {
        &:hover {
          background-color: $bg-color-dark;
        }
      }

      &:hover {
        color: $primary-link-color;
        background-color: $bg-color;
      }
    }
  }
}
