<h1>Game details</h1>

<div class="row mt-4">
  <div class="col-md-6">
    <div>
      <ngx-chess-board #chessBoard [dragDisabled]="true" [drawDisabled]="true" [lightDisabled]="true" [darkDisabled]="true" [pieceIcons]="pieceIcons">
      </ngx-chess-board>
      <div class="col-12 mt-1">
        <a class="btn btn-default board-control" (click)="chessBoard.reverse()" title="Flip board">
          <fa-icon [icon]="faSync" size="2x"></fa-icon>
        </a>
        <a class="btn btn-default board-control" (click)="reset()" title="Reset">
          <fa-icon [icon]="faAngleDoubleLeft" size="2x"></fa-icon>
        </a>
        <a class="btn btn-default board-control" (click)="undo()" title="Previous">
          <fa-icon [icon]="faArrowLeft" size="2x"></fa-icon>
        </a>
        <a class="btn btn-default board-control" (click)="move()" title="Next">
          <fa-icon [icon]="faArrowRight" size="2x"></fa-icon>
        </a>
        <a class="btn btn-default board-control" (click)="goToEnd()" title="End">
          <fa-icon [icon]="faAngleDoubleRight" size="2x"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <dl class="row">
          <dt class="col">White</dt>
          <dd class="col">{{game?.white || '-'}}</dd>
          <dt class="col">Black</dt>
          <dd class="col">{{game?.black || '-'}}</dd>
        </dl>
        <dl class="row">
          <dt class="col">White ELO</dt>
          <dd class="col">{{game?.whiteElo || '-'}}</dd>
          <dt class="col">Black ELO</dt>
          <dd class="col">{{game?.blackElo || '-'}}</dd>
        </dl>
        <dl class="row">
          <dt class="col">White rating diff</dt>
          <dd class="col">{{game?.whiteRatingDiff || '-'}}</dd>
          <dt class="col">Black rating diff</dt>
          <dd class="col">{{game?.blackRatingDiff || '-'}}</dd>
        </dl>
        <dl class="row">
          <dt class="col">Event</dt>
          <dd class="col">{{game?.event || '-'}}</dd>
          <dt class="col">Site</dt>
          <dd class="col">{{game?.site || '-'}}</dd>
        </dl>
        <dl class="row">
          <dt class="col">Date</dt>
          <dd class="col">
            <span *ngIf=game?.date>{{game.date | date:'dd/MM/YYYY'}}</span>
            <span *ngIf=!game?.date>-</span>
          <dt class="col">Round</dt>
          <dd class="col">{{game?.round || '-'}}</dd>
        </dl>
        <dl class="row">
          <dt class="col">Result</dt>
          <dd class="col">{{game?.result || '-'}}</dd>
          <dt class="col">ECO</dt>
          <dd class="col">{{game?.eco || '-'}}</dd>
        </dl>
        <dl class="row">
          <dt class="col">Time control</dt>
          <dd class="col">{{game?.timeControl || '-'}}</dd>
          <dt class="col">Termination</dt>
          <dd class="col">{{game?.termination || '-'}}</dd>
        </dl>
        <dl class="row">
          <dt class="col">End time</dt>
          <dd class="col">
            <span *ngIf=game?.endTime>{{game.endTime.hours + ':' + game.endTime.minutes}}</span>
            <span *ngIf=!game?.endTime>-</span>
          </dd>
          <dt class="col">UTC date</dt>
          <dd class="col">
            <span *ngIf=game?.utcDate>{{game.utcDate | date:'dd/MM/YYYY'}}</span>
            <span *ngIf=!game?.utcDate>-</span>
        </dl>
        <dl class="row">
          <dt class="col">UTC time</dt>
          <dd class="col">
            <span *ngIf=game?.utcTime>{{game.utcTime.hours + ':' + game.utcTime.minutes}}</span>
            <span *ngIf=!game?.utcTime>-</span>
          </dd>
          <dt class="col">Variant</dt>
          <dd class="col">{{game?.variant || '-'}}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-5">
    <div class="chart-container">
      <ngx-charts-line-chart [legend]="true" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true"
                             [showYAxisLabel]="true" [xAxisLabel]="'Ply'" [yAxisLabel]="'Evaluation'"
                             [results]="chartData" [referenceLines]="[{value: 0}]" [showRefLines]="true">
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
