<div class="row justify-content-center">
  <div class="center">
    <div class="col-12">
      <ngx-chess-board #chessBoard></ngx-chess-board>
    </div>
    <div class="col-12 mt-4">
      <button class="btn btn-primary" (click)="chessBoard.reverse()">Flip board</button>
      <button class="btn btn-warning ml-2" (click)="chessBoard.undo()">Undo</button>
      <button class="btn btn-danger ml-2" (click)="chessBoard.reset()">Reset</button>
      <button class="btn btn-success float-right" (click)="analyzeGame()">Analyze</button>
    </div>
  </div>
</div>
