<section class="container pt-5 pb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <div class="section-title">
        <p class="title h6">How it works</p>
        <h2>Improve your chess game and take it to the next level</h2>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-4 col-md-6">
      <div class="info-box">
        <div class="icon">
          <fa-icon [icon]="faChessKnight" [styles]="{'height':'2em', 'width': '1.75em', 'padding-top': '12px'}"></fa-icon>
        </div>
        <div class="description">
          <h3>Knight Rider</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliquip ex.</p>
        </div>
        <span class="count">1</span>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="info-box">
        <div class="icon">
          <fa-icon [icon]="faChessRook" [styles]="{'height':'2em', 'width': '1.75em', 'padding-top': '12px'}"></fa-icon>
        </div>
        <div class="description">
          <h3>Rook 'N Roll</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliquip ex.</p>
        </div>
        <span class="count">2</span>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">

      <div class="info-box">
        <div class="icon ">
          <fa-icon [icon]="faChessKing" [styles]="{'height':'2em', 'width': '1.75em', 'padding-top': '12px'}"></fa-icon>
        </div>
        <div class="description">
          <h3>King of Games</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliquip ex.</p>
        </div>
        <span class="count">3</span>
      </div>
    </div>
  </div>
</section>
