<section class="container pt-5 pb-5 pl-0 pr-0">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <div class="section-title">
        <p class="h6 title">Pricing</p>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 pricing-item">
      <div class="pricing-item-container text-center">
        <div class="pricing-item-header">
          <h3 class="fw-900">Beginner Plan</h3>
        </div>
        <div class="pricing-item-body">
          <div class="icon-wrapper">
            <fa-icon [icon]="faChessRook" [styles]="{'height':'2em','width':'1.75em', 'position': 'relative'}"></fa-icon>
          </div>
          <div class="price">
            <span class="currency">&pound;</span>
            <span class="amount">5</span>
            <span class="period">/ Month</span>
          </div>
          <ul class="list list-unstyled">
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li class="exclude">Lorem Ipsum</li>
            <li class="exclude">Lorem Ipsum</li>
            <li class="exclude">Lorem Ipsum</li>
            <li class="exclude">Lorem Ipsum</li>
          </ul>
        </div>
        <div class="pricing-item-footer">
          <a href="#" class="btn btn-strong btn-lg btn-dark-hover">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 pricing-item">
      <div class="pricing-item-container text-center">
        <div class="pricing-item-header">
          <h3 class="fw-900">Advanced Plan</h3>
        </div>
        <div class="pricing-item-body">
          <div class="icon-wrapper">
            <fa-icon [icon]="faChessKnight" [styles]="{'height':'2em','width':'1.75em', 'position': 'relative'}"></fa-icon>
          </div>
          <div class="price">
            <span class="currency">&pound;</span>
            <span class="amount">10</span>
            <span class="period">/ Month</span>
          </div>
          <ul class="list list-unstyled">
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li class="exclude">Lorem Ipsum</li>
            <li class="exclude">Lorem Ipsum</li>
          </ul>
        </div>
        <div class="pricing-item-footer">
          <a href="#" class="btn btn-strong btn-lg btn-dark-hover">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 pricing-item">
      <div class="pricing-item-container text-center">
        <div class="pricing-item-header">
          <h3 class="fw-900">Master Plan</h3>
        </div>
        <div class="pricing-item-body">
          <div class="icon-wrapper">
            <fa-icon [icon]="faChessKing" [styles]="{'height':'2em','width':'1.75em', 'position': 'relative'}"></fa-icon>
          </div>
          <div class="price">
            <span class="currency">&pound;</span>
            <span class="amount">12</span>
            <span class="period">/ Month</span>
          </div>
          <ul class="list list-unstyled">
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
          </ul>
        </div>
        <div class="pricing-item-footer">
          <a href="#" class="btn btn-strong btn-lg btn-dark-hover">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</section>
