<section class="container-fluid">
  <div class="row justify-content-center hero-section">
    <div class="col-12">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-align-left">
            <h1 class="mt-4 mb-3 fw-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
            <h3>Integer pulvinar test auto deploy 2 risus et nunc cursus, cursus fermentum leo sodales. Donec eu viverra sapien, ac porttitor dui.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 hero-bottom">
      <img class="img-fluid" src="/assets/home-bottom-shape-2.png" />
    </div>
  </div>
</section>
