<section class="container-fluid pt-5 pb-5 pl-0 pr-0 dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-md-flex d-sm-none justify-content-center">
        <object data="/assets/queen.svg" class="img-fluid"></object>
      </div>
      <div class="col-md-6 offset-md-3">
        <div class="section-title text-left">
          <p class="title h6">Features</p>
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
        </div>
        <div class="feauture-box">
          <div class="row">
            <div class="col-md-2 text-center d-flex align-items-center justify-content-center">
              <div class="icon ">
                <fa-icon [icon]="faChessKing" [styles]="{'height':'2em', 'width': '1.75em', 'padding-top': '12px'}"></fa-icon>
              </div>
            </div>
            <div class="col-md-10">
              <h3>Lorem Ipsum</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
        </div>
        <div class="feauture-box">
          <div class="row">
            <div class="col-md-2 text-center d-flex align-items-center justify-content-center">
              <div class="icon ">
                <fa-icon [icon]="faChessKnight" [styles]="{'height':'2em', 'width': '1.75em', 'padding-top': '12px'}"></fa-icon>
              </div>
            </div>
            <div class="col-md-10">
              <h3>Lorem Ipsum</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
        </div>
        <div class="feauture-box">
          <div class="row">
            <div class="col-md-2 text-center d-flex align-items-center justify-content-center">
              <div class="icon ">
                <fa-icon [icon]="faChessRook" [styles]="{'height':'2em', 'width': '1.75em', 'padding-top': '12px'}"></fa-icon>
              </div>
            </div>
            <div class="col-md-10">
              <h3>Lorem Ipsum</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
